* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 6783px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_419 {
  width: 100%;
  height: 100%;
  background: rgba(73,56,67,1);
  opacity: 1;
  position: absolute;
  top: 1406px;
  left: 1px;
  overflow: hidden;
}
.v21_8 {
  width: 100%;
  height: 100%;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 38px;
  overflow: hidden;
}
.v37_11 {
  width: 100%;
  height: 100%;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_6 {
  width: 822px;
  height: 524px;
  background: url("images/v10_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 87px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6000000238418579);
  overflow: hidden;
}
.v10_8 {
  width: 556px;
  height: 505px;
  background: url("images/v10_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 527px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6000000238418579);
  overflow: hidden;
}
.v10_7 {
  width: 629px;
  height: 417px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 655px;
  box-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.6000000238418579);
  overflow: hidden;
}
.v10_3 {
  width: 536px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 705px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 83px;
  opacity: 1;
  text-align: center;
}
.v10_35 {
  width: 100%;
  height: 156px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 2961px;
  left: 172px;
  overflow: hidden;
}
.v10_12 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2961px;
  left: 172px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v21_6 {
/*   margin-left: auto;
  margin-right: auto; */
  width: 50%;
  height: 156px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 1192px;
  left: 25%;
  overflow: hidden;
}
.v21_7 {
  width: 50%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1220px;
  left: 25%;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v10_36 {
  width: 100%;
  height: 156px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 4333px;
  left: 163px;
  overflow: hidden;
}
.v10_37 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4333px;
  left: 163px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v10_4 {
  width: 85%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1057px;
  left: 145px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10_14 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3206px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_15 {
  width: 179px;
  height: 148px;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 3206px;
  left: 122px;
  overflow: hidden;
}
.v10_18 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3206px;
  left: 122px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v10_22 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3405px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_23 {
  width: 179px;
  height: 148px;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 3405px;
  left: 121px;
  overflow: hidden;
}
.v10_24 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3405px;
  left: 121px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v10_25 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3604px;
  left: 332px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_26 {
  width: 179px;
  height: 148px;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 3604px;
  left: 120px;
  overflow: hidden;
}
.v10_27 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3604px;
  left: 120px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v10_28 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3802px;
  left: 332px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_29 {
  width: 179px;
  height: 148px;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 3802px;
  left: 120px;
  overflow: hidden;
}
.v10_30 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3802px;
  left: 120px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v10_32 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4001px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_33 {
  width: 179px;
  height: 148px;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 4001px;
  left: 121px;
  overflow: hidden;
}
.v10_34 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4001px;
  left: 121px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v10_44 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v10_46 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 109px;
  overflow: hidden;
}
.v10_47 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v21_12 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 576px;
  overflow: hidden;
}
.v21_13 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 606px;
  overflow: hidden;
}
.v21_14 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 576px;
  overflow: hidden;
}
.v21_21 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v21_22 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 109px;
  overflow: hidden;
}
.v21_23 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v21_24 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 576px;
  overflow: hidden;
}
.v21_25 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 606px;
  overflow: hidden;
}
.v21_26 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 576px;
  overflow: hidden;
}
.v21_15 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v21_16 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5237px;
  left: 109px;
  overflow: hidden;
}
.v21_17 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v21_18 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 576px;
  overflow: hidden;
}
.v21_19 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5237px;
  left: 606px;
  overflow: hidden;
}
.v21_20 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 576px;
  overflow: hidden;
}
.v39_27 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4863px;
  left: 139px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_28 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4863px;
  left: 576px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_29 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5518px;
  left: 139px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_30 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5518px;
  left: 576px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_31 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6167px;
  left: 139px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_32 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6167px;
  left: 576px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_33 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 368px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_34 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 309px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_36 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5292px;
  left: 309px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_35 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5292px;
  left: 368px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_37 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: 368px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v39_38 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: 309px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
/*
.v39_42 {
  width: 95%; 
  height: 1100px;
  background: url("images/v39_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1675px;
  left: 2%;
  overflow: hidden;
}
*/
.v39_301 {
  width: 110px;
  height: 14px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 2598px;
  left: 384px;
  overflow: hidden;
}
.v39_302 {
  width: 110px;
  height: 14px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 2598px;
  left: 525px;
  overflow: hidden;
}
.v39_303 {
  width: 110px;
  height: 14px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 2598px;
  left: 666px;
  overflow: hidden;
}
.v39_304 {
  width: 110px;
  height: 14px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 2598px;
  left: 582px;
  overflow: hidden;
}
.v39_305 {
  width: 110px;
  height: 14px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 2598px;
  left: 441px;
  overflow: hidden;
}
.v55_13 {
  width: 100%;
  height: 100%;
  background: rgba(73,56,67,1);
  opacity: 1;
  position: absolute;
  top: 4242px;
  left: 1px;
  overflow: hidden;
}
.v55_14 {
  width: 100%;
  height: 158px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 4290px;
  left: 120px;
  overflow: hidden;
}
.v55_15 {
  width: 100%;
  height: 156px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 4333px;
  left: 163px;
  overflow: hidden;
}
.v55_16 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4333px;
  left: 163px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v55_17 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v55_18 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 4556px;
  left: 52px;
  overflow: hidden;
}
.v55_19 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 4558px;
  left: 662px;
  overflow: hidden;
}
.v55_20 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5205px;
  left: 62px;
  overflow: hidden;
}
.v55_21 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5206px;
  left: 666px;
  overflow: hidden;
}
.v55_22 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5850px;
  left: 62px;
  overflow: hidden;
}
.v55_23 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5850px;
  left: 666px;
  overflow: hidden;
}
.v55_24 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 109px;
  overflow: hidden;
}
.v55_25 {
  width: 200px;
  height: 200px;
  background: url("images/v55_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v55_26 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 576px;
  overflow: hidden;
}
.v55_27 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 606px;
  overflow: hidden;
}
.v55_29 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v55_30 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 109px;
  overflow: hidden;
}
.v55_31 {
  width: 200px;
  height: 200px;
  background: url("images/v55_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v55_32 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 576px;
  overflow: hidden;
}
.v55_33 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 606px;
  overflow: hidden;
}
.v55_34 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 576px;
  overflow: hidden;
}
.v55_35 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v55_36 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5237px;
  left: 109px;
  overflow: hidden;
}
.v55_37 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v55_38 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 576px;
  overflow: hidden;
}
.v55_39 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5244px;
  left: 600px;
  overflow: hidden;
}
.v55_40 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 576px;
  overflow: hidden;
}
.v82_8 {
  width: 200px;
  height: 200px;
  background: url("images/v82_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 50%;
  overflow: hidden;
}
.v55_42 {
  width: 30%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4863px;
  left: 50%;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v55_44 {
  width: 528px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5513px;
  left: 589px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v55_45 {
  width: 520px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6140px;
  left: 139px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v55_46 {
  width: 545px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6137px;
  left: 606px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v55_48 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 364px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v81_9 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 364px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v55_49 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5289px;
  left: 1000px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v55_51 {
  width: 279px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: 339px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v55_52 {
  width: 317px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: 376px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v70_2 {
  width: 203px;
  height: 198px;
  background: url("images/v70_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5922px;
  left: 579px;
  overflow: hidden;
}
.v55_321 {
  width: 100%;
  height: 100%;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 2878px;
  left: 1px;
  overflow: hidden;
}
.v55_322 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3789px;
  left: 96px;
  overflow: hidden;
}
.v55_323 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3987px;
  left: 96px;
  overflow: hidden;
}
.v55_324 {
  width: 100%;
  height: 158px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 2907px;
  left: 122px;
  overflow: hidden;
}
.v55_325 {
  width: 100%;
  height: 156px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 2961px;
  left: 172px;
  overflow: hidden;
}
.v55_326 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2961px;
  left: 172px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v55_327 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3206px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_328 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3194px;
  left: 96px;
  overflow: hidden;
}
.v55_329 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3383px;
  left: 96px;
  overflow: hidden;
}
.v55_330 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3582px;
  left: 96px;
  overflow: hidden;
}
.v55_331 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3206px;
  left: 122px;
  overflow: hidden;
}
.v55_332 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3206px;
  left: 122px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_333 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3405px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_334 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3405px;
  left: 121px;
  overflow: hidden;
}
.v55_335 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3405px;
  left: 121px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_336 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3604px;
  left: 332px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_337 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3604px;
  left: 120px;
  overflow: hidden;
}
.v55_338 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3604px;
  left: 120px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_339 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3802px;
  left: 332px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_340 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3802px;
  left: 120px;
  overflow: hidden;
}
.v55_341 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3802px;
  left: 120px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_342 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4001px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_343 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 4001px;
  left: 121px;
  overflow: hidden;
}
.v55_344 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4001px;
  left: 121px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_345 {
  width: 100%;
  height: 100%;
  background: rgba(203,191,187,1);
  opacity: 1;
  position: absolute;
  top: 2878px;
  left: 1px;
  overflow: hidden;
}
.v55_346 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3789px;
  left: 96px;
  overflow: hidden;
}
.v55_347 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3987px;
  left: 96px;
  overflow: hidden;
}
.v55_348 {
  width: 78%;
  height: 158px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 2907px;
  left: 122px;
  overflow: hidden;
}
.v55_349 {
  width: 78%;
  height: 156px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 2961px;
  left: 172px;
  overflow: hidden;
}
.v55_350 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3000px;
  left: 75px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v55_351 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3206px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_352 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3194px;
  left: 96px;
  overflow: hidden;
}
.v55_353 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3383px;
  left: 96px;
  overflow: hidden;
}
.v55_354 {
  width: 179px;
  height: 148px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 3582px;
  left: 96px;
  overflow: hidden;
}
.v55_355 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3206px;
  left: 122px;
  overflow: hidden;
}
.v55_356 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47.75%;
  left: 122px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_357 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3405px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_358 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3405px;
  left: 121px;
  overflow: hidden;
}
.v55_359 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50.75%;
  left: 121px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_360 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3604px;
  left: 332px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_361 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3604px;
  left: 120px;
  overflow: hidden;
}
.v55_362 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53.7%;
  left: 120px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_363 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3802px;
  left: 332px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_364 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 3802px;
  left: 120px;
  overflow: hidden;
}
.v55_365 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56.5%;
  left: 120px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v55_366 {
  width: 994px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4001px;
  left: 333px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v55_367 {
  width: 179px;
  height: 148px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 4001px;
  left: 121px;
  overflow: hidden;
}
.v55_368 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59.5%;
  left: 121px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v76_3 {
  width: 320px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 339px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v76_5 {
  width: 546px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4858px;
  left: 113px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v74_17 {
  width: 509px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5489px;
  left: 139px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v74_22 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5292px;
  left: 368px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v74_26 {
  width: 200px;
  height: 200px;
  background: url("images/v74_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v81_2 {
  width: 200px;
  height: 200px;
  background: url("images/v81_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 576px;
  overflow: hidden;
}
.v99_306 {
  width: 100%;
  height: 156px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 4333px;
  left: 163px;
  overflow: hidden;
}
.v99_307 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4333px;
  left: 163px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v99_308 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v99_309 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 109px;
  overflow: hidden;
}
.v99_310 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v99_311 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 576px;
  overflow: hidden;
}
.v99_312 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 606px;
  overflow: hidden;
}
.v99_313 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 576px;
  overflow: hidden;
}
.v99_314 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v99_315 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 109px;
  overflow: hidden;
}
.v99_316 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v99_317 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 576px;
  overflow: hidden;
}
.v99_318 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 606px;
  overflow: hidden;
}
.v99_319 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 0;
  position: absolute;
  top: 5920px;
  left: 576px;
  overflow: hidden;
}
.v99_320 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v99_321 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5237px;
  left: 109px;
  overflow: hidden;
}
.v99_322 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v99_323 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 576px;
  overflow: hidden;
}
.v99_324 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 0;
  position: absolute;
  top: 5237px;
  left: 606px;
  overflow: hidden;
}
.v99_325 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 0;
  position: absolute;
  top: 5271px;
  left: 576px;
  overflow: hidden;
}
.v99_326 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4863px;
  left: 139px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_327 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4863px;
  left: 576px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_328 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5518px;
  left: 139px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_329 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5518px;
  left: 576px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_330 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6167px;
  left: 139px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_331 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6167px;
  left: 576px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_332 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 64%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_333 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 64%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_334 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5292px;
  left: 309px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_335 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5292px;
  left: 368px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_336 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: 368px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_337 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: 309px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v99_338 {
  width: 100%;
  height: 100%;
  background: rgba(73,56,67,1);
  opacity: 1;
  position: absolute;
  top: 4242px;
  left: 1px;
  overflow: hidden;
}
.v99_339 {
  width: 78%;
  height: 158px;
  background: rgba(97,152,142,1);
  opacity: 1;
  position: absolute;
  top: 4290px;
  left: 120px;
  overflow: hidden;
}
.v99_340 {
  width: 78%;
  height: 156px;
  background: rgba(160,178,166,1);
  opacity: 1;
  position: absolute;
  top: 4333px;
  left: 163px;
  overflow: hidden;
}
.v99_341 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4370px;
  left: 50px;
  text-shadow: 0px 3.737891674041748px 3px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v99_342 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v99_343 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 4556px;
  left: 52px;
  overflow: hidden;
}
.v99_344 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 4558px;
  left: 60%;
  overflow: hidden;
}
.v99_345 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5205px;
  left: 62px;
  overflow: hidden;
}
.v99_346 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5205px;
  left: 60%;
  overflow: hidden;
}
.v99_347 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5850px;
  left: 62px;
  overflow: hidden;
}
.v99_348 {
  width: 554px;
  height: 527px;
  background: rgba(234,189,168,1);
  opacity: 1;
  position: absolute;
  top: 5850px;
  left: 60%;
  overflow: hidden;
}
.v99_349 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 109px;
  overflow: hidden;
}
.v99_350 {
  width: 200px;
  height: 200px;
  background: url("images/v99_350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 139px;
  overflow: hidden;
}
.v99_351 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 0;
  position: absolute;
  top: 4622px;
  left: 576px;
  overflow: hidden;
}
.v99_352 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4588px;
  left: 63%;
  overflow: hidden;
}
.v99_353 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v99_354 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 109px;
  overflow: hidden;
}
.v99_355 {
  width: 200px;
  height: 200px;
  background: url("images/v99_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5920px;
  left: 139px;
  overflow: hidden;
}
.v99_357 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5886px;
  left: 63%;
  overflow: hidden;
}
.v99_358 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 0;
  position: absolute;
  top: 5920px;
  left: 576px;
  overflow: hidden;
}
.v99_359 {
  width: 212px;
  height: 194px;
  background: rgba(0,0,0,1);
  opacity: 0;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v99_360 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5237px;
  left: 109px;
  overflow: hidden;
}
.v99_361 {
  width: 200px;
  height: 200px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v99_363 {
  width: 550px;
  height: 550px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 5237px;
  left: 63%;
  overflow: hidden;
}
.v99_365 {
  width: 200px;
  height: 200px;
  background: url("images/v99_365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 64%;
  overflow: hidden;
}
.v99_366 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4863px;
  left: 64%;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v99_367 {
  width: 528px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5513px;
  left: 64%;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v99_368 {
  width: 520px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6140px;
  left: 139px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v99_369 {
  width: 545px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6137px;
  left: 64%;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v99_370 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: calc(63% + 200px);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_371 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: calc(68% + 155px);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_372 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5289px;
  left: calc(68% + 170px);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_373 {
  width: 279px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: 339px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_374 {
  width: 317px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5942px;
  left: calc(68% + 155px);
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_375 {
  width: 203px;
  height: 198px;
  background: url("images/v99_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5922px;
  left: 64%;
  overflow: hidden;
}
.v99_376 {
  width: 320px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4642px;
  left: 339px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_377 {
  width: 546px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4858px;
  left: 113px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v99_378 {
  width: 509px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5489px;
  left: 139px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v99_379 {
  width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5292px;
  left: 368px;
  font-family: Cantata One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_380 {
  width: 200px;
  height: 200px;
  background: url("images/v99_380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5271px;
  left: 139px;
  overflow: hidden;
}
.v99_381 {
  width: 200px;
  height: 200px;
  background: url("images/v99_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4622px;
  left: 64%;
  overflow: hidden;
}



/* Slideshow css code */
* {box-sizing: border-box;}

/*
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
*/

/* Slideshow container */
.slideshow-container {
  width: 95%;
  position: absolute;
  top:1475px;
  left:2%;
  overflow:hidden;
  margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #A0B2A6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #61988E;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}